{% extends "site/site_base.html" %}

{% block nav_bar %}
<li><a href="{% url 'core:site' %}">Inicio</a></li>
<li><a href="{% url 'core:portfolio' %}">Trabalhos</a></li>
<li class="active"><a href="{% url 'core:contact' %}">Contato</a></li>
{% endblock %}


{% block content_title %}
    <h2>Fale<span> conosco</span></h2>
{% endblock %}


{% block content %}

	<section id="content">
	<div class="map">
		<!--
		<iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=R+Gonçalo+de+Castro,+256+-+Alto,+Teresópolis,+RJ&amp;output=embed">
		</iframe>
		-->
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h4>Deseja entrar em contato? <strong> Preencha o formulário abaixo.</strong></h4>
				<form id="contactform" action="contact/contact.php" method="post" class="validateform" name="send-contact">
					<div id="sendmessage">
						 Your message has been sent. Thank you!
					</div>
					<div class="row">
						<div class="col-lg-4 field">
							<input type="text" name="name" placeholder="* Enter your full name" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" />
							<div class="validation">
							</div>
						</div>
						<div class="col-lg-4 field">
							<input type="text" name="email" placeholder="* Enter your email address" data-rule="email" data-msg="Please enter a valid email" />
							<div class="validation">
							</div>
						</div>
						<div class="col-lg-4 field">
							<input type="text" name="subject" placeholder="Enter your subject" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" />
							<div class="validation">
							</div>
						</div>
						<div class="col-lg-12 margintop10 field">
							<textarea rows="12" name="message" class="input-block-level" placeholder="* Your message here..." data-rule="required" data-msg="Please write something"></textarea>
							<div class="validation">
							</div>
							<p>
								<button class="btn btn-theme margintop10 pull-left" type="submit">Submit message</button>
								<span class="pull-right margintop20">* Please fill all required form field, thanks!</span>
							</p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	</section>

{% endblock %}