{% extends "site/site_base.html" %}
{% load staticfiles %}

{% block content_title %}
    <h2>A <span>arte</span> de estofar</h2>
{% endblock %}

{% block last_works %}
    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
    <li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
    <li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
{% endblock %}

{% block content %}
<div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Fully responsive</h4>
                                <div class="icon">
                                <i class="fa fa-desktop fa-3x"></i>
                                </div>
                                <p>
                                 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                                </p>
                                    
                            </div>
                            <div class="box-bottom">
                                <a href="#">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Modern Style</h4>
                                <div class="icon">
                                <i class="fa fa-pagelines fa-3x"></i>
                                </div>
                                <p>
                                 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                                </p>
                                    
                            </div>
                            <div class="box-bottom">
                                <a href="#">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Customizable</h4>
                                <div class="icon">
                                <i class="fa fa-edit fa-3x"></i>
                                </div>
                                <p>
                                 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                                </p>
                                    
                            </div>
                            <div class="box-bottom">
                                <a href="#">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Valid HTML5</h4>
                                <div class="icon">
                                <i class="fa fa-code fa-3x"></i>
                                </div>
                                <p>
                                 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                                </p>
                                    
                            </div>
                            <div class="box-bottom">
                                <a href="#">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- divider -->
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->
        <!-- Portfolio Projects -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="heading">Trabalhos recentes</h4>
                <div class="row">
                    <section id="projects">
                    <ul id="thumbs" class="portfolio">
                        <li class="col-lg-3 design" data-id="id-0" data-type="web">
                            <div class="item-thumbs">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 1" href="{% static "site/img/works/1.jpg" %}">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{% static "site/img/works/1.jpg" %}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </div>
                        </li>

                        <li class="col-lg-3 design" data-id="id-0" data-type="web">
                            <div class="item-thumbs">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 1" href="{% static "site/img/works/1.jpg" %}">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{% static "site/img/works/1.jpg" %}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </div>
                        </li>

                        <li class="col-lg-3 design" data-id="id-0" data-type="web">
                            <div class="item-thumbs">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 1" href="{% static "site/img/works/1.jpg" %}">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{% static "site/img/works/1.jpg" %}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </div>
                        </li>

                        <li class="col-lg-3 design" data-id="id-0" data-type="web">
                            <div class="item-thumbs">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 1" href="{% static "site/img/works/1.jpg" %}">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{% static "site/img/works/1.jpg" %}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </div>
                        </li>
                    </ul>
                    </section>
                </div>
            </div>
        </div>
{% endblock %}

    
