{% extends "base.html" %}

{% block content %}
<div class="panel panel-default">
	<div class="panel-body">
		<h3><p class="text-center">Cadastrar cliente</p></h3>
	</div>
</div>
<div class="marketing">
	<form  method="POST" enctype="multipart/form-data" role="form">
		{% csrf_token %}

	    {{ form.non_field_errors}}

	    {% for field in form %}
		    <div class="form-group">
			    {{ field.label_tag }}
			    {{ field }}
			    {{ field.errors }}
		    </div>
	    {% endfor %}

	    <div class="form-inline">
		    <button class="btn btn-primary form-control" 
		    	type="submit">
		    	<i class="fa fa-plus-circle"></i> Cadastrar
		    </button>
		    <div class="form-group">
		    <a class="btn btn-default form-control" 
				href="{% url 'client:list'%}" 
				role="button">
				<i class="fa fa-minus-circle"></i>
				Cancelar
			</a>
	    </div>

	</form>
</div>
{% endblock %}