{% extends "base.html" %}

{% block title %}Itens{% endblock title %}

{% block content-header-title %}
Itens
{% endblock content-header-title %}

{% block content-header-subtitle %}
<small>Listagem de itens</small>
{% endblock content-header-subtitle %}

{% block content-header-breadcrumb %}
<li><a href="{% url 'client:list' %}">Clientes</a></li>
<li><a href="{% url 'client:edit' client.pk %}">{{ client.name }}</a></li>
<li class="active">Itens</li>
{% endblock content-header-breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Meus clientes</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive">
        {% if items %}
          <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data chegada</th>
                    <th>Data entrega</th>
                    <th>Valor pago/total</th>
                    <td>Detalhes / Editar</td>
                    <td>Fotos</td>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.arrived_date}}</td>
                        <td>{{item.delivery_date }}</td>
                        <td>{{item.total_paid }} / {{item.total_value}}</td>
                        <th><p class="text-center"><a href="{% url 'item:edit' item.pk %}"><i class="fa fa-pencil"></a></i></p></th>
                        <th><a href="{% url 'item:image_list' item.pk %}"><i class="fa fa-picture-o"></a></i></th>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
          <div class="amount">
          	<p class="text-center">
          		Quantidade: {{ amount }}
          	</p> 
          </div>
        {% else %}
          <div class="alert alert-warning text-center" role="alert">
            Nenhum item cadastrado para {{client.name}}.
          </div>
        {% endif %}
      </div>
    </div>
    {% if items %}
      <div class="total_value">
      	<p class="text-right text-primary">
      	Valor total: R$ {{ total }}
      	</p>
      </div>

    	<div class="total_paid">
    		{% if is_in_the_red %}
    		<p class="text-right text-danger">
    		{% else %}	
    		<p class="text-right text-success">
    		{% endif %}
    		Valor recebido: R$ {{ received }}
    		</p>
    	</div>
    {% endif %}
    <a class="btn btn-default" role="button" 
        href="{% url 'client:list' %}">
        <i class="fa fa-arrow-circle-left"></i> Voltar 
    </a>
  </div>
</div>
{% endblock %}