{% extends "base.html" %}

{% block extra_js %}
<script>
    $('.picture-formset').formset({
        addText: 'Adicionar imagem',
        deleteText: 'Remover'
    });
</script>
{% endblock %}

{% block content %}
<div class="panel panel-default">
	<div class="panel-body">
		<h3><p class="text-center">Cadastrar Item</p></h3>
	</div>
</div>
<div class="marketing">
	<form enctype="multipart/form-data" method="post">
  		{% csrf_token %}
  		{{item_picture_form.as_p}}
	    <div>
   			<button class="btn btn-primary form-control" 
	    		type="submit">
	    		<i class="fa fa-plus-circle"></i>
	    		Cadastrar
	    	</button>
	    </div>
	</form>
</div>

{% endblock %}
