{% extends "base.html" %}

{% block extra_js %}
<script>
    $('.picture-formset').formset({
        addText: 'Adicionar imagem',
        deleteText: 'Remover'
    });
</script>
{% endblock %}

{% block title %}Cadastrar peça{% endblock title %}

{% block content-header-title %}
Cadastrar peça
{% endblock content-header-title %}

{% block content-header-subtitle %}
<small>Exemplo: Sofa, poltrona, cadeira ...</small>
{% endblock content-header-subtitle %}

{% block content-header-breadcrumb %}
<li><a href="{% url 'item:list' %}">Peças</a></li>
<li class="active">Cadastrar</li>
{% endblock content-header-breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Nova conta</h3>
      </div>
      <!-- /.box-header -->
      <form enctype="multipart/form-data" method="post" role="form">
        <div class="box-body" style="display: block;">
          {% csrf_token %}
          {{item_picture_form.as_p}}
        </div>
        <div class="box-footer">
          <button class="btn btn-primary" 
            type="submit" name="post_form">
            <i class="fa fa-plus-circle"></i>
            Cadastrar
          </button>
        </div>
      </form>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>

{% endblock %}
