{% extends "base.html" %}

{% block title %}Clientes{% endblock title %}

{% block content-header-title %}
Peças
{% endblock content-header-title %}

{% block content-header-subtitle %}
<small>Todas as peças</small>
{% endblock content-header-subtitle %}

{% block content-header-breadcrumb %}
<li class="active">Peças</li>
<li class="active">Listar todas</li>
{% endblock content-header-breadcrumb %}

{% block content %}

<div class="col-xs-12">
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">Todas as peças</h3>
        
      <div class="box-tools">
          <form method="POST">
            {% csrf_token %}
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="name" class="form-control pull-right" placeholder="Nome da peça">

              <div class="input-group-btn">
                <button type="submit" name="search" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
            </form>
      </div>
          
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
      {% if items %}
        <thead>
            <tr>
              <th>#</th>
              <th>Cliente</th>
              <th>Peça</th>
              <th>Data chegada</th>
              <th>Data entrega</th>
              <th>Valor pago/total</th>
              <td>Detalhes/Editar</td>
              <td>Fotos</td>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{item.client.name}}</td>
                <td>{{item.name}}</td>
                <td>{{item.arrived_date|date:"D d/m/Y"}}</td>
                <td>{{item.delivery_date|date:"D d/m/Y" }}</td>
                <td>{{item.total_paid }} / {{item.total_value}}</td>
                <th>
                  <p class="text-center">
                    <a href="{% url 'item:edit' item.pk %}"><i class="fa fa-pencil"></i></a>
                  </p>
                </th>
                <th>
                  <p class="text-center">
                    <a href="{% url 'item:image_list' item.pk %}"><i class="fa fa-picture-o"></i></a>
                  </p>
                </th>
              </tr>
            {% endfor %}
          </tbody>
      {% else %}
        <div class="alert alert-warning text-center" role="alert">Nenhum item encontrado.</div>
      {% endif %}
       </table>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
{% endblock %}