{% extends "base.html" %}

{% block extra_js %}
<script>
    $('.picture-formset').formset({
        addText: 'Adicionar imagem',
        deleteText: 'Remover'
    });
</script>
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <h3>
        	<p class="text-center">
        		Imagens de {{ item }}
        		<small>{{item.client.name}}</small>
        	</p>
        </h3>
    </div>
</div>

<div class="well well-sm">
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{picture_form.as_p}}
        </div>
        <div>
            <button class="btn btn-primary form-control" 
                type="submit" name="add-form">
                <i class="fa fa-paper-plane"></i>
                Enviar
            </button>
        </div>
    </form>
</div>
{% if pictures %}
    <form method="POST">
        <div class="row">
            {% for picture in pictures %}
            <div class="col-md-3 portfolio-item">
                <a target="_blank" href="{{picture.image.url}}">
                    <img src="{{picture.image.url}}" class="img-responsive img-thumbnail item-image {% if picture.public %}public-image{%endif%}"
                    {% if picture.public %}
                        title="Imagem publica"
                    {% else %} 
                        title="Imagem privada"
                    {% endif %}>
                </a>
                    {% csrf_token %}
                    <a class="btn btn-danger btn-xs" role="button" 
                        href="{% url 'item:image_delete' picture.pk %}">Apagar 
                    </a>
                        <select name="selects[]" title="Estado do trabalho">
                            <option value="{{picture.id}}_before"
                                {% if picture.state == 'before'%} selected {% endif%}>Antes
                            </option>
                            <option value="{{picture.id}}_after"
                                {% if picture.state == 'after'%} selected {% endif%}>Depois</option>
                        </select>
                    <input name="checks[]"
                        type="checkbox"
                        title="Deixar imagem publica"
                        {% if picture.public %}
                            checked
                        {% endif %}
                        value="{{picture.id}}">
            </div>
            {% endfor %}
        </div>
        <div class=".col-lg-4 text-center">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-floppy-o"></i>
                Alterar
            </button>
        </div>
    </form>
{% else %}
<div class="alert alert-warning text-center" role="alert">Nenhuma imagem adicionada!</div>
{% endif %}
<div>
	<a class="btn btn-default" role="button" 
		href="{% url 'client:list_items' item.client.pk %}">
        <i class="fa fa-arrow-circle-left"></i> Voltar 
	</a>
	<br>
	<br>
</div>

{% endblock %}