{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
    <!-- <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" />   -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <!-- Add your site or application content here -->
      <div class="header">
          <div class="navbar navbar-default" role="navigation">
            <div class="container">
              <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand" href="{% url 'core:site' %}">estofadora</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li><a href="{% url 'core:home' %}">Home</a></li>
              <li><a href="{% url 'client:list' %}">Clientes</a> </li>
              <li><a href="{% url 'item:add' %}">Cadastrar item</a> </li>
              <li><a href="{% url 'bills:new' %}">Cadastrar conta</a> </li>
              <li class="dropdown">
                <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="{% url 'statement:home' %}">Relatórios <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{% url 'statement:cash' %}">Caixa diário</a>
                    <a href="{% url 'statement:cash_month' %}">Caixa mensal</a>
                  </li>
                </ul>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'login:logout' %}">Sair</a></li>
          </ul>
      </div>
  </div>
</div>
</div>

<div class="container">
    {% if messages %}
        {% for message in messages %}
	        {% if message.tags == 'success' %}
		        <div class="alert alert-success mesagem">
		            <i class="fa fa-check"></i>
		            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		            {{message}}
		        </div>
	        {% elif message.tags == 'warning'%}
		        <div class="alert alert-warning mesagem">
		            <i class="fa fa-warning"></i>
		            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		            {{message}}
		        </div>
	        {% elif message.tags == 'error'%}
		        <div class="alert alert-danger mesagem">
		            <i class="fa fa-ban"></i>
		            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		            {{message}}
		        </div>
	        {% endif %}
        {% endfor %}
    {% endif %}

	{% block content %}
	{% endblock %}
</div>

<div class="footer">
  <div class="container">
    <p><span class=""></span> from the Yeoman team</p>
</div>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
 /*!function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
     (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
     r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
 }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-XXXXX-X');
 ga('send', 'pageview');*/
</script>
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
{% block extra_js %} 
{% endblock %}
</body>
</html>