{% extends "base.html" %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <h3>
        	<p class="text-center">Mensagens</p>
        	<p class="text-center">
        		<small>Mensagens enviadas através do site.</small>
        	</p>
        </h3>
    </div>
</div>

{% if contactMessages %}
    
    {% for contact in contactMessages %}

		{% if contact.read %}
		<div class="panel panel-default">
		{% else %}
		<div class="panel panel-primary">
		{% endif %}

			<div class="panel-heading">
				{% if not contact.read %}
                <a class="btn btn-success btn-xs" role="button" 
                        href="{% url 'core:markMessageAsRead' contact.pk %}"
                        title="Marcar mensagem como lida">
                        <i class="fa fa-eye"></i>
						Lido
                </a> - 
				{% endif %}
                {{ contact.subject }} - <small>{{ contact.created_at }}</small>
                <div class="pull-right">
					<a class="btn btn-danger btn-xs" role="button" 
	                        href="{% url 'core:deleteMessage' contact.pk %}"
	                        title="Apagar mensagem">
	                        <i class="fa fa-trash"></i>
	                        Apagar 
	                </a>
				</div>
			</div>

			<div class="panel-body">
				<p><strong>Nome:</strong> {{contact.name}}</p>
				{% if contact.email %}
					<p><strong>Email:</strong> {{contact.email}}</p>
				{% endif %}
				{% if contact.telephone %}
					<p><strong>Telefone:</strong> {{contact.telephone}}</p>
				{% endif %}
				<p><strong>Mensagem:</strong> {{contact.description}}</p>
			</div>
			
		</div>

    {% endfor %}

{% else %}
<div class="alert alert-warning text-center" role="alert">
	Nenhuma mensagem!
</div>
{% endif %}

{% endblock %}