{% extends "base.html" %}

{% block extra_js %} 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}	

{% block content %}
<div class="panel panel-default">
	<div class="panel-body">
		<h3><p class="text-center">Caixa diário</p></h3>
	</div>
</div>

<div class="well well-sm">
	<form method="POST" role="form">
        {% csrf_token %}
        <div class="form-inline">
            <input class="form-control" type="date" name="search_date" placeholder='Data para listar'>
            <span>
                <button class="btn btn-default form-control" type="submit" name="search_form" id="search-btn">Listar</button>
            </span>
        </div>
    </form>
</div>

{% if content %}

	<table class="table table-striped">
	    <thead>
	        <tr>
	            <th>Data</th>
	            <th>Histórico</th>
	            <th>Entrada</th>
	            <th>Saida</th>
	            <th>Saldo</th>
	        </tr>
	    </thead>
	    <tbody>
	        {% for item in content %}
	            <tr>
	                <td>{{item.date}}</td>
	                <td>{{item.history}}</td>
	                <td>{{item.income}}</td>
	                <td>{{item.expenses }}</td>
	                <td>{{item.total }}</td>
	                <!-- <th>
	                	<p class="text-center">
	                		<a href="{% url 'statement:edit' item.pk %}" 
	                			data-toggle="modal" 
	                			data-target="#modal" 
	                			title="editar item"
	                			data-tooltip>
	                			<i class="fa fa-pencil"></i>
	                		</a>
	                	</p>
	                </th> -->
	                <th>
	                	<a href="{% url 'statement:delete' item.pk %}"
	                		title="remover item">
	                		<i class="fa fa-trash-o"></i>
	                	</a>
	                </th>
	            </tr>
	        {% endfor %}
	    </tbody>
	</table>

	<div class="total_value">
		{% if total_value > 0 %}
		<p class="text-right text-success">
		{% else %}
		<p class="text-right text-danger">
		{% endif %}
			Valor total: R$ {{ total_value }}
		</p>
	</div>

{% else %}
	<div class="alert alert-warning" role="alert">
		<p class="text-center">
			Nenhum registro encontrado na data: {{ choose_date }}!
		</p>
		
	</div>
{% endif %}


<hr>

<div class="marketing">
	<form  method="POST" role="form">
		{% csrf_token %}

	    {{ form.non_field_errors}}

	    {% for field in form %}
		    <div class="form-group">
			    {{ field.label_tag }}
			    {{ field }}
			    {{ field.errors }}
		    </div>
	    {% endfor %}

	    <button class="btn btn-primary form-control" 
	    	type="submit" name="post_form">Inserir</button>

	</form>
</div>

<!-- Modal --> 
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog"> 
		<div class="modal-content"> 
			
		</div><!-- /.modal-content --> 
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	

{% endblock %}