{% extends "base.html" %}

{% block extra_js %} 
	<script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}	

{% block title %}Caixa diário{% endblock title %}

{% block content-header-title %}
Caixa diário
{% endblock content-header-title %}

{% block content-header-subtitle %}
<small>Receitas e despesas diarias.</small>
{% endblock content-header-subtitle %}

{% block content-header-breadcrumb %}
<li class="active">Caixa</li>
<li class="active">Diário</li>
{% endblock content-header-breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Valor anterior</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body" style="display: block;">
        <div class="pull-left">
          {% if total_before > 0 %}
					<p class="text-right text-success">
					{% else %}
					<p class="text-right text-danger">
					{% endif %}
						Valor total anterior: R$ {{ total_before }}
					</p>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
  </div>

  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Receitas e despesas</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive">
        <form method="POST" role="form" class="search-form">
          {% csrf_token %}
          <div class="form-inline">
            <input class="form-control" type="date" name="search_date" placeholder='Data para listar'>
            <span>
              <button class="btn btn-default form-control" type="submit" 
                name="search_form" id="search-btn">
                <i class="fa fa-search"></i>
                Listar
              </button>
            </span>
          </div>
        </form>
       	{% if content %}
          <table class="table table-striped">
					    <thead>
					        <tr>
					            <th>Data</th>
					            <th>Histórico</th>
					            <th>Entrada</th>
					            <th>Saida</th>
					            <th>Saldo</th>
					        </tr>
					    </thead>
					    <tbody>
					        {% for item in content %}
					            <tr>
					                <td>{{item.date}}</td>
					                <td>{{item.history}}</td>
					                <td>{{item.income}}</td>
					                <td>{{item.expenses }}</td>
					                <td>{{item.balance }}</td>
					                <th>
					                	<a href="{% url 'statement:delete' item.pk %}"
					                		title="remover item">
					                		<i class="fa fa-trash-o"></i>
					                	</a>
					                </th>
					            </tr>
					        {% endfor %}
					    </tbody>
					</table>
        {% else %}
          <div class="alert alert-warning text-center" role="alert">
            Nenhum registro encontrado na data: {{ choose_date }}!
          </div>
        {% endif %}
      </div>
      <!-- /.box-body -->
    </div>
    <div class="row">
      <div class="col-sm-12">
        {% if total_value > 0 %}
        <p class="text-right text-success">
        {% else %}
        <p class="text-right text-danger">
        {% endif %}
            Valor total de hoje: R$ {{ total_value }}
        </p>
      </div>
    </div>
    <!-- /.box -->
  </div>

  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Nova receita/despesa</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
    	<form  method="POST" role="form">
      	<div class="box-body" style="display: block;">
					{% csrf_token %}
			    {{ form.non_field_errors}}

			    {% for field in form %}
				    <div class="form-group">
					    {{ field.label_tag }}
					    {{ field }}
					    {{ field.errors }}
				    </div>
			    {% endfor %}
			  </div>
			  <div class="box-footer">
			    <button class="btn btn-primary" 
			    	type="submit" name="post_form">
			    	<i class="fa fa-plus-circle"></i>
			    	Inserir
			    </button>
			  </div>
			</form>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>

{% endblock %}