{% extends "base.html" %}	

{% block content %}
<div class="panel panel-default">
	<div class="panel-body">
	        <h3>
        	<p class="text-center">Caixa anual</p>
        	<p class="text-center">
        		<small>Listagem de receitas e despesas anuais.</small>
        	</p>
        </h3>
	</div>
</div>

<div class="well well-sm">
	<form method="POST" role="form">
        {% csrf_token %}
        <div class="form-inline">
        	<select name="selectyear" class="form-control">
        		{% for year in years %}
					<option value="{{year}}"
						{% if year == choose_year %}selected{% endif %}>
						{{year}}
					</option> 
        		{% endfor %}
			</select>
            <span>
                <button class="btn btn-default form-control" type="submit" 
                	name="search_form" id="search-btn">
                	<i class="fa fa-search"></i>
                	Listar
                </button>
            </span>
        </div>
    </form>
</div>

{% if content %}

	<table class="table table-striped">
	    <thead>
	        <tr>
	            <th>Data</th>
	            <th>Histórico</th>
	            <th>Entrada</th>
	            <th>Saida</th>	            
	        </tr>
	    </thead>
	    <tbody>
	        {% for item in content %}
	            <tr>
	                <td>{{item.date}}</td>
	                <td>{{item.history}}</td>
	                <td>{{item.income}}</td>
	                <td>{{item.expenses }}</td>
	            </tr>
	        {% endfor %}
	    </tbody>
	</table>

	<div class="total_value">
		{% if total_value > 0 %}
		<p class="text-right text-success">
		{% else %}
		<p class="text-right text-danger">
		{% endif %}
			Valor total: R$ {{ total_value }}
		</p>
	</div>

{% else %}
	<div class="alert alert-warning" role="alert">
		<p class="text-center">
			Nenhum registro encontrado.
		</p>
		
	</div>
{% endif %}

{% endblock %}